useDynLib(RTextTools)
import(methods)
import(SparseM)
import(randomForest)
import(tree)
import(nnet)
import(tm)
import(e1071)
import(ipred)
import(maxent)
import(glmnet)
import(tau)

exportClasses(
              matrix_container,
              analytics_container,
              analytics_container_virgin
              )

export(wordStem, getStemLanguages)
export(classify_model, classify_models)
export(create_analytics, create_corpus, create_ensembleSummary, create_matrix, create_precisionRecallSummary, create_scoreSummary)
export(cross_validate)
export(print_algorithms)
export(read_data)
export(recall_accuracy)
export(train_models, train_model)
export(wizard_read_data, wizard_train_classify)